input[type=text], input[type=file], select, textarea {
    width: 100%; 
    padding: 3px;
    border: 2px solid #e100ffbe;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 3px; 
    margin-bottom: 3px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #e100ffbe;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8e45a0;
  }
    